# Importés directement dans le code des fonctions (évite de charger tous
# les packages au chargement de RVAideMemoire) :
#   - ade4 : add.scatter.eig, as.dudi, discrimin.coa, dist.quant, inertia.dudi, S.label, s.class, scatterutil.sub
#   - boot : boot
#   - cramer : cramer.test
#   - lme4 : fixef, getME, glmer, isLMM, VarCorr
#   - MASS : lda
#   - mixOmics : perf, plsda, vip
#   - multcompView : multcompLetters
#   - nnet : multinom
#   - pspearman : pspearman
#   - statmod : qresiduals
#   - vegan : adonis

importFrom(ade4,randtest)
importFrom(car,Anova,qqPlot)
importFrom(stats,median,model.matrix)

export(adonis.II,
  Anova.clm,Anova.clmm,
  back.lsmeans,
  bootstrap,
  byf.hist,byf.mqqnorm,byf.mshapiro,byf.normhist,byf.qqnorm,byf.shapiro,
  chisq.bintest,chisq.bin.exp,chisq.exp,chisq.multcomp,chisq.theo.bintest,chisq.theo.multcomp,
  cochran.qtest,
  cor.2comp,cor.conf,cor.multcomp,
  cor.sparse,
  cox.resid,
  cramer.test,
  cv,
  CvM.test,
  DA.confusion,DA.valid,DA.var,
  dendro.gp,
  fc.multcomp,
  fisher.bintest,fisher.multcomp,
  fp.test,
  friedman.rating.test,
  G.bintest,G.multcomp,G.test,G.theo.multcomp,
  ind.contrib,
  kruskal.rating.test,
  LDA.format,
  least.rect,
  logis.fit,logis.noise,
  mod,
  mood.medtest,
  mqqnorm,
  mshapiro.test,
  multinomial.multcomp,multinomial.test,multinomial.theo.multcomp,
  MVA.synt,
  overdisp.glmer,
  pairwise.G.test,pairwise.perm.manova,pairwise.mood.medtest,pairwise.perm.t.test,pairwise.wilcox.rating.test,
  pairwise.to.groups,
  pcor, pcor.test,
  perm.anova,perm.bartlett.test,perm.cor.test,perm.t.test,perm.var.test,
  plot1comp.ind,plot1comp.var,
  plotresid,
  plotsurvivors,
  PLSDA.ncomp,PLSDA.test,PLSDA.VIP,
  prop.bin.multcomp,prop.multcomp,
  prop.multinom.test,
  rating.lsmeans,rating.prob,
  reg.ci,
  scat.cr,scat.mix.categorical,scat.mix.numeric,
  scatter.coa2,
  s.corcircle2,
  se,
  seq2,
  spearman.ci,
  user.cont,
  wald.ptheo.test,
  wilcox.paired.multcomp,
  wilcox.paired.rating.multcomp,
  wilcox.rating.test,
  wilcox.rating.signtest,
  wilcox.signtest)

S3method(fp.test,default)
S3method(fp.test,formula)
S3method(median,factor)
S3method(mood.medtest,default)
S3method(mood.medtest,formula)
S3method(perm.t.test,default)
S3method(perm.t.test,formula)
S3method(perm.var.test,default)
S3method(perm.var.test,formula)
S3method(predict,coadisc)
S3method(predict,least.rect)
S3method(print,byf.test)
S3method(print,chisq.exp)
S3method(print,DA.confusion)
S3method(print,DA.valid)
S3method(print,least.rect)
S3method(print,MVA.synt)
S3method(print,PLSDA.VIP)
S3method(print,RV.multcomp)
S3method(print,RVtest)
S3method(summary,least.rect)
S3method(wilcox.signtest,default)
S3method(wilcox.signtest,formula)
