importFrom(ade4,s.class,s.corcircle,dudi.mix)
importFrom(boot,boot)
importFrom(car,qqPlot)
importFrom(lme4,fixef,getME,isLMM,VarCorr)
importFrom(MASS,glm.nb,lda)
importFrom(mixOmics,plsda,valid,vip)
importFrom(multcomp,contrMat,glht)
importFrom(statmod,qresiduals)


exportPattern("^[[:alpha:]]+")
